.card-offers {
    height: 320px;
    max-width: 256px;
    border-radius: 16px;
    border-color: transparent;
}

.card-services-md {
    height: 412px;
    width: 100%;
    max-width: 348px;
    border-radius: 16px;
}

.card-services-lg {
    height: 540px;
    width: 100%;
    border-radius: 16px;
    border: 1px solid var(--color-secondary-orange) !important;
}

@media (max-width: 767px) {

    .card-services-lg {
        max-width: 500px;
        margin: 0 auto;
    }

}

@media (max-width: 992px){
    .card-deck .card-services-md {
        margin: 1rem;
    }
}

.card-deck a, .grid-services a, .swiper-wrapper a {
    display: contents;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--color-secondary-orange);
}

.card-deck a .card-offers, .swiper-wrapper a .card-offers, .card-deck a .card-services-md {
    transition: all .5s;
}

.card-deck a:hover .card-offers, .swiper-wrapper a:hover .card-offers, .card-deck a:hover .card-services-md  {
    transform: scale(1.1);
    border: 1px solid var(--color-secondary-orange) !important;
}

.card-deck a:hover .no-scale-up, .swiper-wrapper a:hover .no-scale-up {
    transform: unset;
}

.card-deck a:hover .card-offers img, .swiper-wrapper a:hover .card-offers img, .card-deck a:hover .card-services-md img {
    border-bottom-color: var(--color-secondary-orange);
}

/* .card-offers .card-body {
    padding: 0;
} */

.card-body .card-title {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 600;
}

.card-services-lg .card-body .card-title {
    margin-bottom: 1.5rem;
}

.card-body p {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text-light) !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.card-offers p {
    -webkit-line-clamp: 4;
    line-height: 1rem;
}

.card-services-md p {
    -webkit-line-clamp: 3;
    line-height: 1.2rem;
}

.card-services-lg p {
    -webkit-line-clamp: 4;
   line-height: 1.2rem;
}

.card-img img {
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    object-position: top center;
}

.card-offers .card-img img {
    height: 140px;
    border-bottom: 3px solid var(--color-primary-blue);
}

.card-services-md .card-img img {
    height: 225px;
    border-bottom: 3px solid var(--color-secondary-orange);
}

.card-services-lg .card-img img {
    height: 315px;
    object-position: top center;
    /* border-bottom: 2px solid var(--color-secondary-orange); */
}

.card-title, .card-body p {
    color: var(--color-primary-blue);
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: unset;
    border-top: none;
    /* color: var(--color-secondary-orange) !important; */
}

.card-footer p, .card-footer .btn-outline i {
    color: var(--color-secondary-orange) !important;
}

.card-footer .btn-outline {
    border: 1px solid var(--color-secondary-orange);
    display: flex;
    align-items: center;
}

.card-footer .btn-outline:hover, .card-footer .btn-outline:focus {
    background-color: var(--color-secondary-orange);
    transition: all .15s;
}

.card-footer .btn-outline:hover p, .card-footer .btn-outline:hover i,
.card-footer .btn-outline:focus p, .card-footer .btn-outline:focus i {
    color: #fff !important;
}

/* Component Picture */
.picture-area {
    position: relative;
    width: 630px;
    height: 385px;
}

.picture-bg {
    background: var(--color-secondary-orange);
    opacity: 0.2;
}

.picture-area .picture-bg, .picture-area img.picture-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.picture-area img.picture-img {
    top: 30px;
    left: 50px;
    object-fit: cover;
    object-position: top center;
}

.picture-area img.picture-vectors {
    position: absolute;
    top: 0;
    left: 0;
}

.pagination .page-item {
    height: 40px;
    /* width: 40px; */
}

.pagination .page-item .page-link {
    color: var(--color-primary-blue);
}

.pagination  .active .page-link {
    border: 1px solid var(--color-secondary-orange);
    color: var(--color-secondary-orange);
    background-color: #fff;
}

.pagination .page-item .page-link{
    border-radius: 8px;
    font-weight: 700;
}

.pagination .disabled .page-link{
    background-color: #D6D9DB;
}

.pagination .page-item ~ .page-item {
    margin-left: 1rem;
}
