:root {
    --color-primary-blue: #1F1745;
    --color-secondary-orange: #EF8A2C;
    --color-background-md-orange: #F4B273;
    --color-background-light-orange: #f5cca7;
    --color-background-light: #FDFAF9;
    --color-text-light: #6A7682;
    --color-text-muted: #9AA3AC;
}

html, body {
    /* Com o height o body não acompanha toda a página*/
    min-height: 100vh;
    font-family: 'Archivo';
}

body {
    background: var(--color-background-light);
}

body main {
    padding: 4rem 0;
}

*, p, ul {
    padding: 0;
    margin: 0;
    color: var(--color-text-light);
}

/* #headerContact {
    background: #f5cca747;
}

#contactInfo * {
    color: var(--color-secondary-orange) !important;
} */

#contactInfo{
    width: fit-content;
    min-height: 36px;
    flex-wrap: wrap;
    font-size: 14px;
}



#contactInfo p ~ p {
    margin-left: .75rem;
}

#contactInfo .fa-instagram {
    font-size: 1.2rem;
}

#bgNavbar {
    width: 100%;
    background: var(--color-primary-blue);
    position: sticky;
    z-index: 100;
    top: 0;
    transition: background .8s ease-out;
}

#bgNavbar.nav-fixed {

    background: rgb(31 23 69 / 90%) !important;
   /*  position: fixed;
    margin-bottom: 98px; */
}

.navbar #logomarca {
    height: 82px;
    width: auto;
}

.navbar .contact-info {
    display: none;
}

@media (max-width: 767px){

    #bgNavbar .container-md {
        padding: 0;
    }

    .navbar #navbarDropdown{
        border-top: 1px solid #e7e7e7;
        padding-top: .75rem;
        margin-top: 1rem;
    }

    .navbar .contact-info {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar .contact-info {
        /* border-top: 1px solid #e7e7e7; */
        padding-top: .75rem;
        margin-top: 1rem;
    }

    .navbar .contact-info i {
        color: #fff;
        font-size: 22px;
    }

    .navbar .contact-info a ~ a {
        margin-right: 1.5rem;
    }
}

.navbar .navbar-nav .nav-item .nav-link {
    display: inline-block;
}

.navbar .navbar-nav .nav-item:not(.active) .nav-link {
    color: var(--color-text-muted);
}

.navbar .navbar-nav .active .nav-link {
   /*  color: var(--color-text-light); */
    color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link {
    position: relative;
}

@media (max-width: 767px){

    .navbar .navbar-nav .active .nav-link::after {
        position: absolute;
        bottom: 6px;
        left: 0;
        content: '';
        width: 100%;
        height: 3px;
        /* background: var(--color-primary-blue); */
        background: #fff;
        border-radius: 5px;
        transition: all .3s;
    }
}

/* Navbar Styles */
/* Breakpoint Mobile */
@media (min-width: 768px){

    .navbar .navbar-nav {
        position: relative;
    }

    .navbar .navbar-nav .nav-item ~ .nav-item {
        margin-left: 1.5rem;
    }

    .navbar .navbar-nav .nav-item .nav-link::after {
        position: absolute;
        bottom: -5px;
        left: 0;
        content: '';
        width: 0;
        height: 5px;
        /* background: var(--color-primary-blue); */
        background: #fff;
        border-radius: 5px;
        transition: all .3s;
    }

    .navbar .navbar-nav:hover .active .nav-link::after {
        opacity: 0 !important;
    }

    .navbar .navbar-nav .nav-item:hover .nav-link {
      /*   color: var(--color-text-light) !important; */
        color: #fff !important;

    }

    .navbar .navbar-nav .active .nav-link::after,
    .navbar .navbar-nav .nav-item .nav-link:hover::after
    /* ,.navbar .navbar-nav .nav-item .nav-link:focus::after  */
    {
        width: 21px !important;
    }


    .navbar .navbar-nav .nav-item .nav-link {
        transition: color .5s;
        padding: 0;
    }

}

/* Footer Styles */

footer {
    min-height: 455px;
    background-color: var(--color-primary-blue);
    border-top: 14px solid var(--color-background-light-orange);
}

footer a:hover {
    text-decoration: none;
    /* color: var(--color-secondary-orange); */
}

footer .container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer #footerLogo, nav #navLogo {
    height: 50px;
    width: 250px;
    color: #F9F9F9 !important;
    font-weight: 700;
    font-size: 22px;
}

nav #logoLink:hover {
    text-decoration: none;
}

@media (max-width: 767px){
    nav #navLogo {
        height: auto;
        width: 210px;
        color: #F9F9F9 !important;
        font-weight: 700;
        font-size: 18px;
    }
}

footer #footerInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

footer #footerInfo .subtitle {
    font-weight: 700;
    font-size: 18px;
}

footer #footerInfo .info-items {
    margin-top: 2rem;
}

footer #footerInfo .info-items ul li {
    white-space: nowrap;
}

@media (max-width: 767px) {

    footer #footerInfo {
        flex-direction: column;
    }

    footer #footerInfo div ~ div {
        margin-top: 2rem;
    }

    footer #footerInfo .info-items {
        margin-top: 1rem;
    }

}

footer #footerInfo .info-items p, footer #footerInfo .info-items p i
{
    color: #F9F9F9;
}

footer #footerInfo .info-items li a {
    color: #F9F9F9 !important;
}

footer #footerInfo .info-adress .info-items p {
    font-size: 14px;
}

footer #footerInfo .info-adress .info-items p ~ p {
    margin-top: .25rem;
}

footer #footerInfo .info-adress .info-items p i {
    margin-right: 1rem;
}

footer #footerInfo .info-adress .info-items p i.fa-map-marker-alt {
    color: var(--color-secondary-orange);
    margin-right: 1.5rem;
}

footer #footerInfo .info-menu .info-items ul {
    list-style-type: none;
}

footer #footerInfo .info-menu .info-items ul li ~ li {
    margin-top: .5rem;
}

/* footer #footerInfo .info-menu .info-items ul li:not(.active) a {
    color: #F9F9F9;
} */

footer #footerInfo .info-menu .info-items ul li a i {
    margin-right: .5rem;
    color: var(--color-secondary-orange);
    opacity: 0;
}

footer #footerInfo .info-menu .info-items ul:hover li.active a i {
    opacity: 0 !important;
}

/* footer #footerInfo .info-menu .info-items ul:hover li.active a {
    color: #F9F9F9 !important;
} */

footer #footerInfo .info-menu .info-items ul li.active a,
footer #footerInfo .info-menu .info-items ul li:hover a {
    color: var(--color-secondary-orange) !important;
}

footer #footerInfo .info-menu .info-items ul li.active a i,
footer #footerInfo .info-menu .info-items ul li:hover a i,
footer #footerInfo .info-menu .info-items ul li:hover li.active i
{
    opacity: 1;
}

footer #footerInfo .info-social .info-items div {
    display: flex;
    align-items: center;
}

footer #footerInfo .info-social .info-items div ~ div {
    margin-top: .5rem;
}

footer #footerInfo .info-social .info-items div p {
    font-size: 14px;
    margin-left: .25rem;
}

h4.title-section {
    position: relative;
    display: inline-block;
    color: var(--color-primary-blue);
    font-weight: 500;
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

h3.title-section {
    position: relative;
    display: inline-block;
    color: var(--color-primary-blue);
    font-weight: 500;
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

h3.title-section span {
    display: block;
    color: var(--color-secondary-orange);
}

h3.title-section::after {
    /* opacity: 0; */
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    width: 45%;
    height: 3px;
    background: var(--color-secondary-orange);
   /*  border-radius: 5px; */
    transition: width .3s;
}

#btn-whatsapp {
    height: 50px;
    width: 50px;
    padding: 1.7rem;
    opacity: .8;
    transition: .3s opacity;
    background: radial-gradient(#14c226, #2eb644);
    /* background:#2eb644; */
    box-shadow: 2px 2px 6px 1px rgb(11 20 26 / 15%);
    cursor:pointer;
}

#gp-whatsapp {
    position: fixed;
    left: 24px;
    bottom: 24px;
    z-index: 99;
}

#btn-whatsapp:hover, .show #btn-whatsapp ,.gp-whatsapp-links .link-whatsapp:hover {
    opacity: 1;
}

#btn-whatsapp:hover, #btn-whatsapp:focus{
    box-shadow: 0 0 0 0.2rem #a4dda973;
}

.gp-whatsapp-links .link-whatsapp {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    background: radial-gradient(#14c226, #2eb644);
    border-radius: 1rem;
    /* width: 94px; */
    opacity: .8;
}

#btn-whatsapp ~ .dropdown-menu {
    background: none;
    border: none;
}





