:root {
    --color-primary-blue: #1F1745;
    --color-secondary-orange: #EF8A2C;
}

html, body {
    height: 100vh;
    font-family: 'Archivo';
}

* {
    padding: 0;
    margin: 0;
}

#contactInfo{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactInfo p ~ p {
    margin-left: .75rem
}
